.bookTable{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content:center;
    color: black;
    background-image:url(../../assets/BookTable.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.auth_form_table_order{
    display: flex;
    flex-direction: row;
    padding: 5rem;
    border-radius: 12px;
    margin: 0.5rem;
    align-items: baseline
}

select{
    margin: 0 0.5rem ;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    }

.auth_form_container_table_order{
    background-image:linear-gradient(79deg,#884A39 ,#C38154 60%,#FFC26F );
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 5px solid #F9E0BB;
    border-radius: 160px;
}
.button_SendHome{
    border: none;
    background-color:white;
    border-radius: 20px;
    cursor: pointer;
    color: #191717;
    text-align: center;
    width: 125px;
}

.submit-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
@media only screen and (max-width: 600px) {
    .auth_form_table_order {
      flex-direction: column;
      padding: 2rem;
    }
  
    .auth_form_table_order select {
      margin: 0.5rem 0;
    }
  
    .auth_form_container_table_order {
      padding: 1rem;
      border-radius: 12px;
    }
  }
  